body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", "Segoe UI", sans-serif;
  background: linear-gradient(180deg, #a3bffa, #cbd5f7, #e2e8f0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e293b;
}


.app-container {
  width: 90%;
  max-width: 800px;
  background: rgba(176, 220, 242, 0.35);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(176, 220, 242, 0.35);;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 32px 40px;
}


h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #101624;
}


.todo-form {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #a5afbc;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
}

.todo-input:focus {
  border: 1px solid #3b82f6;
  box-shadow: 0 0 4px rgba(59, 130, 246, 0.4);
}

.add-btn {
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 18px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.add-btn:hover {
  background: #2563eb;
}


.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
}

.filter-buttons button {
  padding: 8px 20px;
  border-radius: 999px;
  border: 1px solid #cbd5e1;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}

.filter-buttons button.active {
  background: #1e3a8a;
  color: white;
  border-color: #1e3a8a;
}

.filter-buttons button:hover {
  background: #3b82f6;
  color: white;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 10px 15px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.todo-title {
  flex: 1;
  font-size: 1rem;
  color: #0f172a;
  cursor: pointer;
}

.todo-title.completed {
  text-decoration: line-through;
  color: #64748b;
}

.delete-btn {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.delete-btn:hover {
  background: #dc2626;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 25px;
  color: #475569;
}
